# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/
.metadata/

# VS Code
.vscode/

# Java
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Minecraft/Bukkit/Spigot/Paper
plugins/
server/
*.yml
!src/main/resources/*.yml

# OS-specific
.DS_Store
Thumbs.db

# Project specific
dimensions/target/
test/

# IDE specific
.factorypath

# Don't ignore pom.xml
!pom.xml

# Don't ignore GitHub workflows
!.github/
!.github/**
